@font-face{font-family:'PokemonGB';src:url('fonts/PokemonGb-RAeo.ttf') format('truetype');font-weight:400;font-style:normal}
@font-face{font-family:'PokemonUnown';src:url('fonts/PokemonUnownGb-YAWa.ttf') format('truetype');font-weight:400;font-style:normal}
